<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Notícias</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>AAAA</h1>
        <p>Encontre as últimas notícias com IA de forma rápida e fácil.</p>
    </header>
    <div class="container">
        <main>
            <div id="carregando-noticia">
                <p>BUSCANDO NOTÍCIAS <span class="pontos"><span></span><span></span><span></span></span></p>
            </div>
            <button id="gerar-noticia-btn">Gerar Nova Notícia</button>
            <div id="noticias-container"></div>
        </main>
    </div>
    <footer>
        <p>&copy; 2025 Gerador de Notícias. ❤ espero que gostem</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>