<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Notícias</title>
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <h1>Últimas Notícias</h1>
        <main>
            <div id="carregando-noticia">
                <p>BUSCANDO NOTÍCIA <span class="pontos"><span></span><span></span><span></span></span></p>
            </div>
            <button id="gerar-noticia-btn">Gerar Nova Notícia</button>
            <div id="noticias-container"></div>
        </main>
    </div>

    <script src="script.js"></script>
</body>
</html>